app/code/community/Smile/Warehouse/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="smileWarehouseStockItemUpdateEntity">
                <all>
                    <element name="qty" type="xsd:string" minOccurs="0" />
                    <element name="is_in_stock" type="xsd:int" minOccurs="0" />
                    <element name="notify_stock_qty" type="xsd:int" minOccurs="0" />
                    <element name="use_config_notify_stock_qty" type="xsd:int" minOccurs="0" />
                    <element name="stock_location" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
    <message name="smileWarehouseStockItemUpdateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="product" type="xsd:string" />
        <part name="stock_code" type="xsd:string" />
        <part name="data" type="typens:smileWarehouseStockItemUpdateEntity" />
    </message>
    <message name="smileWarehouseStockItemUpdateResponse">
        <part name="result" type="xsd:int" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="smileWarehouseStockItemUpdate">
            <documentation>Update warehouse stock data</documentation>
            <input message="typens:smileWarehouseStockItemUpdateRequest" />
            <output message="typens:smileWarehouseStockItemUpdateResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="smileWarehouseStockItemUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
